# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

root = true

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
ktlint_code_style = android_studio

ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_function-signature = disabled
ktlint_experimental = disabled
ktlint_no-wildcard-imports = disabled
ktlint_trailing-comma-on-declaration-site = disabled
ktlint_trailing-comma-on-call-site = disabled
ktlint_standard_no-blank-line-before-rbrace = disabled
ktlint_spacing-between-declarations-with-annotations = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_no-empty-first-line-in-class-body = disabled
ktlint_type-argument-comment = disabled
ktlint_type-parameter-comment = disabled
ktlint_wrapping = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_class-signature = disabled
max_line_length = 150
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ij_continuation_indent_size = 4

ktlint_wrapping_ignore_when_annotated_with = Composable
ktlint_function_naming_ignore_when_annotated_with = Composable
